
  <div id="carouselExampleSlidesOnly" class="carousel slide pt-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="../../../../assets/Slider1.gif" class="d-block mx-auto" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="../../../../assets/Slider2.gif" class="d-block mx-auto" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="../../../../assets/Slider4.gif" class="d-block mx-auto" alt="...">
    </div>
    </div>
  </div>



