
<div class="container-fluid" style="background-color: #0077CB; margin-top: 5rem">

  <footer class="bd-footer">
    <div class="pt-4 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-lg text-white d-flex align-items-center" style="margin-right: 10rem">
            <img class="img-fluid  d-block" style="height: 15%" src="assets/INEGI_c-modified.png">
          </div>
          <div class="col-lg">
            <a style="color: white; font-weight: bold; font-size: 15px">Acerca del INEGI</a>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/inegi/quienes_somos.html" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Quíenes somos</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/app/marconormativo/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Marco normativo</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/transparencia/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Transparencia</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/servicios/api_indicadores.html"
                  target="_blank" class="nav-link p-0 text" style="color: white; font-size: 14px">Desarrolladores</a>
              </li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/app/spc/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Oportunidades de trabajo</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/eventos/otros/default.html" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Eventos</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/inegi/vendelealinegi/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Vendale al INEGI</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/inegi/armonizacion/contable/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Armonización contable</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/inegi/sma/politica/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Sistema de Manejo Ambiental</a></li>
            </ul>
          </div>

          <div class="col-lg">
            <a style="color: white; font-weight: bold; font-size: 15px">Contacto</a>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text" style="color: white">449 910 53 00</a>
              </li>

            </ul>
          </div>

          <div class="col-lg">
            <a style="color: white; font-weight: bold; font-size: 15px">Sitios de interés</a>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="https://snieg.mx/" target="_blank" class="nav-link p-0 text"
                  style="color: white; font-size: 14px">SNIEG</a></li>
              <li class="nav-item mb-2"><a href="https://www.snieg.mx/cni/" target="_blank" class="nav-link p-0 text"
                  style="color: white; font-size: 14px">Catálogo Nacional de Indicadores</a></li>
              <li class="nav-item mb-2"><a href="http://cuentame.inegi.org.mx/" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Cuéntame de México</a></li>
              <li class="nav-item mb-2"><a href="http://agenda2030.mx/" target="_blank" class="nav-link p-0 text"
                  style="color: white; font-size: 14px">Objetivos de Desarrollo Sostenible</a></li>
              <li class="nav-item mb-2"><a href="http://www.ci.inegi.org.mx/" target="_blank" class="nav-link p-0 text"
                  style="color: white; font-size: 14px">Órgano Interno de Control</a></li>
              <li class="nav-item mb-2"><a href="http://www.ci.inegi.org.mx/AtencionCd.aspx" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Denuncias</a></li>
              <li class="nav-item mb-2"><a href="https://www.inegi.org.mx/inegi/enlaces.html" target="_blank"
                  class="nav-link p-0 text" style="color: white; font-size: 14px">Enlaces de interés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<div class="container-fluid" style="background-color: #706F6F;">
  <footer class="align-items-center py-3 ">
    <p class="text-center mb-0" style="color: white">Derechos reservados. &copy; INEGI </p>
  </footer>
</div>
