<!-- <p>cards works!</p> -->

<div class="container">

  <div class="row mt-1 w-100">

    <div class="col-sm-4 card1 ">
      <img src="./assets/componente1.png" class="img-fluid" style="max-width: 18%; height: auto" alt="..." />
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Condiciones y Calidad Ambiental</h4>
          <h6 class="h666">Características físicas, biológicas y químicas ambientales.</h6>
        </div>
      </div>
      <hr class="" style="opacity: 100; border: 3px solid #0077CB ">
    </div>

    <div class="col-sm-4 card1" >
      <img src="./assets/componente2.png" class="img-fluid " style="max-width: 18%; height: auto" alt="..." />
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Recursos ambientales y su Uso</h4>
          <h6 class="h666">Extracción, uso y retorno de recursos naturales.</h6>
        </div>
      </div>
      <hr style="opacity: 100; border: 3px solid #0077CB ">
    </div>

    <div class="col-sm-4 card1" >
      <img src="./assets/componente3.png" class="img-fluid" style="max-width: 18%; height: auto" alt="..." />
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Residuos</h4>
          <h6 class="h666">Características, manejo y liberación de residuos.</h6>
        </div>
      </div>
      <hr style="opacity: 100; border: 3px solid #0077CB ">
    </div>

    <div class="col-sm-4 card1">
      <img src="./assets/componente4.png" class="img-fluid" style="max-width: 20%; height: auto" alt="..." />
      <div class="row">
        <div class="col">
          <h4 class="mt-2 card-title">Eventos Extremos y Desastres</h4>
          <h6 class="" style="height: 58px;">Ocurrencias e impacto de desastres naturales.</h6>
        </div>
      </div>
      <hr style="opacity: 100; border: 3px solid #0077CB ">
    </div>

    <div class="col-sm-4 card1">
      <img src="./assets/componente5.png" class="img-fluid" style="max-width: 20%; height: auto" alt="..." />
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Asentamientos Humanos y Salud Ambiental</h4>
          <h6 class="" style="height: 50px;">Condiciones, servicios básicos e infraestructura de asentamientos humanos.</h6>
        </div>
      </div>
      <hr style="opacity: 100; border: 3px solid #0077CB ">
    </div>

    <div class="col-sm-4 card1">
      <img src="./assets/componente6.png" class="img-fluid" style="max-width: 20%; height: auto" alt="..." />
      <div class="row">
        <div class="col">
          <h4 class="mt-2">Protección, Gestión y Participación</h4>
          <h6 class="h666">Características físicas, biológicas y químicas ambientales.</h6>
        </div>
      </div>
      <hr style="opacity: 100; border: 3px solid #0077CB ">
    </div>

  </div>
</div>
