
<app-carousel-imge></app-carousel-imge>

<div class="container">

  <hr class="border border-primary border-2 opacity-25">

  <h3 class="text-center text-primary-emphasis">Componentes del Marco para el Desarrollo de las Estadísticas Ambientales</h3>

  <hr class="border border-primary border-2 opacity-25">

  <div class="row">
    <div class="col-5">
      <app-three-metric></app-three-metric>

    </div>

    <!-- <hr style="border:none; border-left:3px solid hsl(207, 100%, 17%); height:50vh;width:1px;"> -->



    <div class="col-7">
      <app-two-metric></app-two-metric>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <app-cards></app-cards>
    </div>
  </div>
  <div class="row">
    <div class="col">


    </div>
  </div>
</div>



